.card__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.card__inner.column4 > div {
    width: 23%
}
.card {
    width: 24%;
    height: 25vh;
    background-color: var(--white);
    border: 0;
    border-radius: 10px;
    margin-bottom: 26px;
    padding: 9px;
    overflow: hidden;
}
.card figure {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 6px;
    background-color: var(--primary-color);
}
.card__text h3 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.card__text h3 p {
    font-size: 0.75rem;
    color: var(--colorSD);
    margin-right: 2px;
}
.card__text h3 > div {
    display: flex;
    justify-content: flex-end;
}
.card__text h3 > div p {
    font-size: 0.9rem;
    color: var(--primary-color);
}
.card__text h3 > div p:first-child {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 2px;
}
.card__text h4 {
    display: flex;
    align-items: center;
}
.card__text h4 a {
    max-width: 70%;
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 2px;
}
.card__text h4 p {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--primary-color);
}
.card__desc {
    font-size: 0.9rem;
    color: var(--colorSD);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 1700px){
    .card__inner.column4 > div {
        width: 32%
    }
}
@media (max-width: 1300px){
    .card__inner.column4 > div {
        width: 49%
    }
    .card__inner {
        margin-bottom: 36px;
    }
}
@media (max-width: 550px){
    .card {
        height: 13vh;
    }
    .card__inner.column4 > div {
        width: 100%
    }
    .card__desc {
        display: none;
    }
}