/* Header Styles */
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    padding: 30px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #b7ab98;

}

header .menuOpen {
    display: none;
    transition: 0.3s;
}

header .logo {
    color: #b7ab98;
}

header.active {
    transform: translateY(-100%);
}

.gnb ul {
    justify-content: space-between;
}

.gnb ul li {
    margin-top: 5px;
}

.gnb ul li a {
    display: block;
}

.about {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
}



.content__center {

    background-image: url('../img/INTRO-min.png');
    /* 이미지 경로를 실제 이미지 파일의 경로로 변경하세요 */
    background-size: cover;
    /* 배경 이미지를 화면에 맞게 조절합니다 */
    background-position: center;
    /* 배경 이미지를 가운데 정렬합니다 */
    background-repeat: no-repeat;
    /* 배경 이미지를 반복하지 않습니다 */
    padding: 5vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 834px;
}


.content__inner {
    text-align: center;
}

.content__inner h6 {
    color: #ADA18F;
    font-weight: bold;
    font-size: 1vw;
    letter-spacing: .5em;
    margin-bottom: 2vw;
}

.content__inner h1 {
    font-size: 160px;
    letter-spacing: -.05em;
    font-weight: bold;
    color: #ADA18F;
}

.text2,
.text3 {
    color: #DC583B;
}

.text1,
.text2,
.text3,
.text4,
.text5 {
    line-height: 79%;
}

/* ABOUT ME */
.content__about {

    background-image: url('../img/aboutme-min.png');
    /* 이미지 경로를 실제 이미지 파일의 경로로 변경하세요 */
    background-size: cover;
    /* 배경 이미지를 화면에 맞게 조절합니다 */
    background-position: center;
    /* 배경 이미지를 가운데 정렬합니다 */
    background-repeat: no-repeat;
    /* 배경 이미지를 반복하지 않습니다 */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 834px;
}

.cont__inner {
    text-align: left;
}

.cont__inner h6 {
    color: #ADA18F;
    font-weight: bold;
    font-size: 1vw;
    letter-spacing: .5em;
    font-family: 'Public Sans', sans-serif;
}

.cont__inner h1 {
    font-size: 4vw;
    letter-spacing: -.05em;
    font-weight: bold;
    color: #ADA18F;
}

.text6,
.text7,
.text8,
.text9,
.text10,
.text11 {
    line-height: 114%;
    letter-spacing: -4px;

}

/* Experience */
.con4 {
    background-image: url('../img/experience-min.png');
    /* 이미지 경로를 실제 이미지 파일의 경로로 변경하세요 */
    background-size: cover;
    /* 배경 이미지를 화면에 맞게 조절합니다 */
    background-position: center;
    /* 배경 이미지를 가운데 정렬합니다 */
    background-repeat: no-repeat;
    /* 배경 이미지를 반복하지 않습니다 */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 834px;
}

.con4 .textWrap {
    text-align: left;
}

.title h6 {
    color: #ADA18F;
    font-weight: bold;
    font-size: 1vw;
    letter-spacing: .5em;
    font-family: 'Public Sans', sans-serif;
}

.title h1 {
    font-size: 4vw;
    letter-spacing: -.05em;
    font-weight: bold;
    color: #ADA18F;
}