@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

li {
    list-style: none;
}

address,
em,
i {
    font-style: normal;
}

button {
    background: none;
    border: none;
}

img {
    vertical-align: middle;
}

/* 영어폰트 */
.en {
    font-family: 'Public Sans', sans-serif;
}

.en2 {
    font-family: 'Cormorant Infant', serif;
}

.en3 {
    color: #DC583B;
}

/* layout */
body {
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Public Sans', sans-serif; */
    /* font-family: 'Cormorant Infant', serif; */
    font-size: 16px;
    line-height: 1.6;
    background-color: black;
    color: #fff;
}

.wrap {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: #0d0d0d;
    color: #b7ab98;
}

/* gnb 호버효과 */
.gnb ul li a .char {
    display: inline-block;
    position: relative;
    color: transparent;
    overflow: hidden;
}

.gnb ul li a .char:before,
.gnb ul li a .char:after {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    color: #b7ab98;
    content: attr(data-char);
    transition: transform 0.35s;
    transition-delay: calc(30ms * var(--char-index));

}

.gnb ul li a .char:before {
    transform: translateY(100%);

}

.gnb ul li a:hover .char::before {
    transform: translateY(0%);
    opacity: 1;
}

.gnb ul li a:hover .char::after {
    transform: translateY(100%);
}

/* data 속성 => data-로 시작하는 속성으로 이 속성은 특정한 데이터를 DOM에 이용하기 위함이 목적 
    이 저장된 데이터를 attr()함수를 이용해 속성을 가져옴*/

/* visual */
.visual {
    width: 100%;
    height: 100vh;
    padding-top: 125px;
    box-sizing: border-box;
    position: relative;
    letter-spacing: -1px;
}
.visual .mainText {
    font-size: 140px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 150px 60px;
    display: inline-block;
    background-color: #DC583B;
}
.visual .mainText p {
    overflow: hidden;
}
.visual .subText {
    margin-left: 20%;
}
.visual .svgAni {
    position: absolute;
    right: -2%;
    top: 6%;
    width: 55%;
    transform: rotate(-10deg);
}
.visual.motion .mainText {
    transform: translate3d(0,0,0) skewY(0deg); overflow:hidden;
}
.visual.motion .mainText p span {
    display: block;
    animation-name: textAni;
    animation-duration: 1.8s;
}
.visual.motion .mainText p:nth-child(2) span {
    animation-duration: 1.7s;
}
.visual.motion .mainText p:nth-child(3) span {
    animation-duration: 1.5s;
}

@keyframes textAni {
    0% {
        opacity: 0;
    }
    30% { opacity: 0; transform: translate3d(0,-90px,0) skewY(-10deg); transform-origin: top-left; }
 }

 @keyframes textAni2 {
     0% {
         opacity: 0;
     }

     30% {
         opacity: 0;       
     }
 }

 .visual.motion .subText {
    animation-name: textAni2;
    animation-duration: 2.3s;
}

.visual.motion #svgAni01 {
    stroke-dasharray: 675;
    stroke-dashoffset: 675;
    animation: ani1 .5s linear 2s forwards;
}

.visual.motion #svgAni03 {
    stroke-dasharray: 3059;
    stroke-dashoffset: 3059;
    animation: ani3 .2s linear 1s forwards;
}
.visual.motion #svgAni04 {
    stroke-dasharray: 66;
    stroke-dashoffset: 66;
    animation: ani4 .2s linear 1s forwards;
}
.visual.motion #svgAni05 {
    stroke-dasharray: 55;
    stroke-dashoffset: 55;
    animation: ani5 .2s linear 0s forwards;
}
@keyframes ani1{
    0% { stroke-dashoffset: 675;}
    100% {stroke-dashoffset: 0}
}
@keyframes ani3 {
    0% {
        stroke-dashoffset: 3059;
    }

    100% {
        stroke-dashoffset: 0
    }
}
@keyframes ani4 {
    0% {
        stroke-dashoffset: 64;
    }

    100% {
        stroke-dashoffset: 0
    }
}
@keyframes ani5 {
    0% {
        stroke-dashoffset: 64;
    }

    100% {
        stroke-dashoffset: 0
    }
}

/* section03 */
.con03 {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 200vh;
   
}
.con03 .textWrap {
    width: 70%;
    position: absolute;
   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.con03 .textWrap .title {
    font-size: 18px
}
.con03 .textWrap ul li {
   font-size: 100px;
   line-height: 1.2;
}
.con03 .textWrap ul li .en2{
   padding-left: 5px;
}

/* readmore */
.con03 .btnWrap{
    position: absolute;
    right: -50%;
    top: 60%;
    z-index: 3;
}
.con03 .btnWrap a {
   display: block;
   width: 170px;
   height: 170px;
   border-radius: 100%;
   border: 2px solid #fff;
   position: relative;
   box-sizing: border-box;
   transition: 0.5s;
}
.con03 .btnWrap a img {
    width: 22%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.con03 .btnWrap a img:hover {

}
.con03 .btnWrap a img:nth-child(2) {opacity: 0;}
.con03 .btnWrap a:before {
    content: '';
    width: 0%;
    height: 0%;
    border-radius: 100%;
    background-color: #fff url(../images/readMore4.png) no-repeat center/158px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: .4s;
}
.con03 .btnWrap a:hover {border-color: transparent;}
.con03 .btnWrap a:hover img:nth-child(2){opacity: 1;}
.con03 .btnWrap a:hover:before{
    width: 100%;
    height: 100%;
}