/* Web Font */

/* Bootstrap Icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

body {
    margin: 0;
    font-family: serif;
    line-height: 1.6rem;
    font-weight: 300;
    color: #222;
    background-color: #f4f4f4;
}    
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;  
}
.header__inner {
    display: flex;
    align-items: center;
    list-style: none;
    width: 700px;
    margin: 50px auto;
}
.header__inner li a {
    background-color: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 150px;
}
.header__logo {
    margin-right: 20px; /* 뇌섹남녀와 메뉴 사이의 간격을 조절하세요. */
}
  
 /* 뇌섹남녀 스타일 */
.header__logo li a {    
    font-size: 24px; 
    color: #b51111; 
    font-weight: bold; 
    margin-right: 20px; /* 링크 사이의 간격을 조절*/
}
/* 커뮤니티 메뉴 스타일 */
.header__nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;      
}
.header__nav ul li {
    margin-right: 20px; /* 메뉴 사이의 간격을 조절하세요. */
}
.header__nav ul li a {
    text-decoration: none;
    font-size: 18px; /* 폰트 크기를 조절하세요. */
    color: #222
}
.header__ham li {
    list-style: none;
    display: inline-block;
}
