/* wrap */
#wrap {
    height: 100vh;
}

/* header */
#header {
    height: 7rem;
}

/* main */
#main {
    display: flex;
    position: relative;
}
.aside {
    width: 300px;
    height: 100vh;
    /* position: relative; */
}
.logo {
    width: 120px;
    position: absolute;
    left: 30px;
    top: 30px;
}
.logo a {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 120px;
    height: 50px;
    display: block;
}

.img1 {
    background-image: url(../img/aside02.jpg);
    width: 100%;
    min-width: 13rem;
    height: 100%;
    background-size: cover;
}
.img2 {
    background-image: url(../img/join_result.jpg);
    width: 100%;
    height: 10rem;
    background-size: cover;
    box-shadow: inset 0px 15px 40px 10px black;
}
.contents {
    width: calc(100% - 300px);
    height: 100vh;
    margin: 0 auto;
}

.inner {
    width: 30%;
    margin-left: 20%;
    /* margin-top: 15%; */
    display: flex;
    flex-direction: column;
    position: relative;
}
.inner > h1 {
    color: #283269;
    font-size: 1.56rem;
    font-weight: 800;
    margin-bottom: 2.8rem;
    word-break: keep-all;
}
.inner > h2 {
    color: #283269;
    font-size: 1.56rem;
    font-weight: 800;
    position: absolute;
    left: 0;
    top: -100px;
    word-break: keep-all;
}
.inner > p {
    color: #C5AAA4;
    word-break: keep-all;
    font-size: 0.9rem;
    margin-bottom: 50px;
}
.label {
    color: #283269;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
}
.msg{
    color: red;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 0.9rem;
    display: inline-block;
    text-align: center;
}
.green {
    color: green;
}
.join__submit {
    display: none;
}
.input__box1 {
    width: 100%;
    height: 3.4rem;
    background-color: #FAF7F0;
    border: 2px solid #283269;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    padding: 0.6rem;
    color: #283269;
}
.input__box1::-webkit-input-placeholder {
    color: #283269;
}
.input__box2::-webkit-input-placeholder {
    color: #283269;
}
.input__box3::-webkit-input-placeholder {
    color: #283269;
}
.input__box2 {
    width: 100%;
    height: 3.4rem;
    background-color: #FAF7F0;
    border: 2px solid #C5AAA4;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    padding: 0.6rem;
    color: #283269;
}
.input__box3 {
    width: 60%;
    height: 3.4rem;
    background-color: #E9F3FC;
    border: 0;
    border-radius: 30px;
    padding: 20px;
    color: #283269;
}
.btn__wrap {
    width: 100%;
}

.select__pass {
    color: #283269;
    display: block;
    font-size: 0.8rem;
    text-align: right;
    margin-bottom: 20px;
}
.alread {
    margin-top: 1rem;
    text-align: center;
    color: #283269;
}
.alread a {
    text-decoration: underline;
    text-underline-position: under;
}

/* profil */
.profil__inner {
    width: 600px;
    height: calc(100vh - 10rem);
    min-height: 670px;
    display: flex;
    flex-wrap: wrap;
}
.photo__wrap {
    position: relative;
}
.photo__wrap > h3 {
    color: #283269;
    font-size: 1.56rem;
    font-weight: 800;
    margin-bottom: 2.8rem;
    word-break: keep-all;
    margin-bottom: 7rem;
    margin-top: 7rem;
}
.photo__wrap > h2 {
    color: #283269;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 25px;
}

.photo {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: #E9F3FC;
}
.photo__wrap > button {
    position: absolute;
    right: 70px;
    top: 40%;
}

.locate__wrap {
    width: 540px;
    margin-top: 2rem;
}
.profil__btn {
    margin-top: 2rem;
    /* margin-left: 4.3rem; */
}
#addressCheck {
    display: inline-block;
    text-align: center;
    width: 25%;
    padding: 20px;
    background-color: #283269;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

#layer {
    position: fixed;
    overflow:hidden;
    z-index: 1;
    -webkit-overflow-scrolling:touch;
}
#layer img {
    position: absolute;
    right: -3px;
    top: -3px;
    width: 20px;
    height: 20px;
    z-index: 1;
    cursor: pointer;
}

@media (max-width: 900px){
    .inner > h2 {
        font-size: 20px;
        width: 250px;
        /* top: 0px; */
        left: 30px;
    }
    .inner h1 {
        width: 17rem;
        align-items: center;
        text-align: center;
        /* margin-top: 5rem; */
        /* margin-left: 0.1rem; */
    }
    .inner p {
        width: 17rem;
        text-align: center;
        /* margin-left: 1rem; */
    }
    .photo__wrap h3 {
        font-size: 1.5rem;
        margin-bottom: 30px;
        margin-top: 0rem;
    }
    .profil__inner {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .photo__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 300px;
    }
    .photo__wrap h2 {
        display: none;
    }
    .photo__wrap > button {
        left: 3.3rem;
        top: 17rem;
    }
    .locate__wrap {
        margin-top: 100px;
    }
    .locate__wrap label {
        margin-bottom: 20px;
    }
    .locate__wrap input {
        padding: 20px;
        width: 25rem;
    }
    .profil__btn {
        margin-left: 14%;
    }
}
@media (max-width: 700px){
    /* body {
        position: relative;
    } */
    #wrap {
        height: 0;
    }
    main {
        flex-direction: column;
    }
    .aside {
        display: none;
    }
    .img1,
    .img2 {
        display: none;
    }
    .contents {
        width: 70%;
        height: 0;
        margin-top: 18rem;
    }
    /* .logo {
        position: absolute;
    } */
    /* .logo a {
        width: 90px;
        background-size: contain;                                                     
        left: 50%;
        top: 1rem;
        transform: translateX(-10%);
    } */
    .logo {
        position: relative;
        display: flex;
        justify-content: flex-start;
        /* align-items: center; */
        height: 100%;
        width: 120px;
        /* margin-left: 50%; */
    }
    /* .logo a {
        width: 90px;
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
    } */
    .contents.container {
        justify-content: space-between;
    }
}
@media (max-width: 600px){
    .logo a {
        width: 90px;
        background-size: contain;
    }
    #header1 {
        position: relative;
    }
    #main {
        justify-content: center;
        position: relative;
    }

    .inner {
        margin-left: 0;
    }
    .contents {
        width: 50%;
        padding-top: 0;
    }
    .photo__wrap h3 {
        font-size: 1rem;
    }
    .profil__inner {
        width: 0;
    }
    .input__box3 {
        width: 50%;
    }
    .profil__btn {
        margin-left: 50%;
        transform: translateX(-20%);
    }
    .locate__wrap > label{
        padding-top: 30px;
    }
    .input__box1,
    .input__box2,
    .input__box3 {
        font-size: 0.8rem;
        height: 3rem;
    }
 
}
@media (max-width: 500px){
    .locate__wrap input {
        width: 15rem;
    }
    
}
/* @media (max-width: 450px){
    .inner {
        align-items: start;
    }
    .label {
        font-size: 0.8rem;
    }
    .input__box1 {
        width: 80%;
        font-size: 0.9rem;
    }
    .alread {
        font-size: 0.7rem;
    }
   .inner div > button {
        width: 80%;
   }
} */