
*{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: "nanumSquareNeo";
    font-weight: 400;
}
body {
    font-family: "nanumSquareNeo";
    background-color: #FAF7F0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

