* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;

}

body {

    -font-smoothing: antialiased !important;
    -webkit-font-smoothing: antialiased !important;
    background: #0d0d0d;
    color: #b7ab98;
    font-family: Avant Garde, sans-serif, serif;
    font-weight: 400;
    line-height: 110%
}

/* Header Styles */
#header {
    background-color: black;
    color: #fff;
    padding: 20px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    width: 100px;
    height: auto;
    border-radius: 15px;

}

.header__nav {
    display: flex;
}

.header__nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    /* 세로로 정렬 */
    line-height: 150%;


}

.header__nav li {
    margin: 0 10px;
    /* 메뉴 간격 조절 */


}

.about {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
}

.header__nav a {
    text-decoration: none;
    color: #ADA18F;
    font-weight: bold;
    font-size: 16px;
    position: relative;

}

.header__nav a:hover {
    color: #ffd700;

}



.content__center {

    background-image: url('../img/INTRO-min.png');
    /* 이미지 경로를 실제 이미지 파일의 경로로 변경하세요 */
    background-size: cover;
    /* 배경 이미지를 화면에 맞게 조절합니다 */
    background-position: center;
    /* 배경 이미지를 가운데 정렬합니다 */
    background-repeat: no-repeat;
    /* 배경 이미지를 반복하지 않습니다 */
    /* padding: 300px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 834px;
}


.content__inner {
    text-align: center;
}

.content__inner h6 {
    color: #ADA18F;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: .5em;
}

.content__inner h1 {
    font-size: 160px;
    letter-spacing: -.05em;
    font-weight: bold;
    color: #ADA18F;

}

.text2,
.text3 {
    color: #DC583B;
}

.text1,
.text2,
.text3,
.text4,
.text5 {
    line-height: 90%;
}