
/* Header Styles */
header {
   width: 100%;
   position: fixed;
   left: 0;
   top: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 100;
   padding: 30px 60px;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
    color: #b7ab98;
   
}
header .menuOpen {
    display: none;
    transition: 0.3s;  
}
header .logo {
    color: #b7ab98;
}
header.active {
    transform: translateY(-100%);
}
.gnb ul {
    justify-content: space-between;
}
.gnb ul li {
    margin-top: 5px;
}
.gnb ul li a {
    display: block; 
}

.about {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
}



.content__center {

    background-image: url('../img/INTRO-min.png');
    /* 이미지 경로를 실제 이미지 파일의 경로로 변경하세요 */
    background-size: cover;
    /* 배경 이미지를 화면에 맞게 조절합니다 */
    background-position: center;
    /* 배경 이미지를 가운데 정렬합니다 */
    background-repeat: no-repeat;
    /* 배경 이미지를 반복하지 않습니다 */
    /* padding: 300px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 834px;
}


.content__inner {
    text-align: center;
}

.content__inner h6 {
    color: #ADA18F;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: .5em;
}

.content__inner h1 {
    font-size: 160px;
    letter-spacing: -.05em;
    font-weight: bold;
    color: #ADA18F;

}

.text2,
.text3 {
    color: #DC583B;
}

.text1,
.text2,
.text3,
.text4,
.text5 {
    line-height: 90%;
}